<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/user.css">
    <title>Document</title>
</head>
<body>
    <div id="nav">
        <ul>
            <li style="background-color:gray;border-radius:6px"><a href="#" class="fa fa-home"></a></li>
            <li style="float:right;"><a href="#">About us</a></li>
        </ul>
    </div>

    <div id="content">
        <div id="teacher-detail">
            <img src="/images/pic-9.jpg" alt="PHOTO">
            <div id="detail">
                <h2>Dr.Preetpal Kaur Buttar</h2>
                <span><h4>Educational Qualification:Ph.D., M.E.</h4></span>
                <h4>Phone Number: <a style="text-decoration: none; color:rgb(199, 199, 199)" href="tel:1234567890"><u>+91-1672-253208</u></a></h4>
                <h4>Email Id: <a style="text-decoration: none; color:rgb(199, 199, 199)" href="mailto:adc@gmail.com"><u>birmohansingh@silet.ac.in</u></a></h4><br>
                <h3>EN</h3> <h3 style="margin-left:33px;">TAM</h3>
            </div>
        </div>
    </div>

    <div class="bottom-row">
        <div class="big-box left">
            <label class="row">
                <input type="checkbox" name="course" value="web_dev">
                Course 1: Web Development
            </label>
            <label class="row">
                <input type="checkbox" name="course" value="data_science">
                Course 2: Data Science
            </label>
            <label class="row">
                <input type="checkbox" name="course" value="graphic_design">
                Course 3: Graphic Design
            </label>
            <button class="course_button">Enroll Now</button>
        </div>
        <div class="big-box right">
            <div class="row">Row 1</div>
            <div class="row">Row 2</div>
            <div class="row">Row 3</div>
        </div>
    </div>

    <div class="availability">
        <h3>Availability</h3>
        <ul>
            <li>Monday: 9 AM - 12 PM</li>
            <li>Wednesday: 1 PM - 4 PM</li>
            <li>Friday: 10 AM - 1 PM</li>
            <li id="not-available" ><i><del>Saturday: 11 AM - 3 PM</del></i></li>
        </ul>
    </div>
    <div class="footer">
        <h3>Stay Connected</h3>
        <div class="social-icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin-in"></a>
        </div>
        <p>Contact Us: abc@gmail.com | +91 12343233432</p>
        <div class="footer-bottom">
            <p>&copy; 2024 Your Company Name. All Rights Reserved.</p>
        </div>
    </div>

</body>
</html>
